<%const today=new Date().toLocaleDateString('en-GB').split('/').reverse().join('-')%>

  <a href="/dashboard/stats">Stats</a>
  <a href="/dashboard/profile">Profile</a>

  <form action="/create" method="post">
    <input type="date" name="date" value="<%= today%>" max="<%=today%>">
    <input type="text" name="name" placeholder="Expense made for?">
    <input type="number" name="cost" placeholder="Amount">
    <select name="tag" id="">
      <option value="">Tag</option>
    </select>
    <button type="submit">Add Expense</button>
  </form>

  <% if (dates) {%>
    <div>
      <ul>
        <% for (expense of dates.expenses) {%>
          <li>
            <p>
              <%= expense.name %>
            </p>
            <p>
              <%= expense.cost %>
            </p>
            <a href="/delete/<%= expense._id %>"><i class="fa-solid fa-trash"></i></a>
          </li>
          <%}%>
      </ul>
    </div>
    <p>
      <%=dates.totalExpense%>
    </p>
    <%}%>